.slider-wraper{
    position: relative;
}

/* dots */
.dots-parent {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

.dots-child{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: brown;
    margin: 8px;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;   
    
}

.arrow-left {
    left: 50px;
}

.arrow-right {
    right: 50px;
}

img{
    width: 100%;
}

.fa-circle-chevron-right{
    font-size: 25px;
    color: brown;
    cursor: pointer;
}

.fa-circle-chevron-left{
    font-size: 25px;
    color: brown;
    cursor: pointer;
}